%flex {
  display: flex;
}

.container {
  padding: 20px 0;
}

.row {
  @extend %flex;
  justify-content: space-between;
}

.filter {
  @extend %flex;
}

.title {
  font-size: 40px;
  font-weight: bold;
}
