%flex {
  display: flex;
  align-items: center;
}

.container {
  @extend %flex;
  justify-content: space-between;
}

.completed {
  color: #999;
}

.main {
  @extend %flex;
}

.actions {
  @extend %flex;
}

.icon-button {
  margin-right: 40px;
}

.title {
  .completed & {
    text-decoration: line-through;
  }
}
